@charset "utf-8";

/* ----------------------------------------------------

★layout.css
-------------------------------------------------------

build:2017-07
lastupdate:2017-07
version:1.1
author:om

-------------------------------------------------------

★目次
00.共通
01.left
02.lineup
03.detail
04.company
05.policy
06.plan
07.scene
08.contract
09.gallery
10.Q&A
11.concept
12.login
13.mypage

---------------------------------------------------- */


/* ■00.共通
--------------------------------------------------- */
header { margin-top: 20px; }
header h1 { 
    text-align: center;
    padding-bottom: 20px;
}
header h1 a { transition: 0.3s; }
header h1 a:hover { opacity: 0.6; }
header h1 img {
    width: 100%;
    max-width: 110px;
}
.mainimg {
    background: url(../img/bx_rolly1.png) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 300px;
    position: relative;
}
.mainimg::before {
    content: "";
    background-color: #222;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mainimg h1.title {
    position: absolute; 
    top: 40%;
    left: 15%;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
}


.breadcrumb { 
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}
.breadcrumb a { color: #977a21; text-decoration: none; }
.breadcrumb a:hover { text-decoration: underline; }

.wrap { width: 90%; max-width: 1000px; margin: auto;}

/* ■01.left
--------------------------------------------------- */
.side {
    width: 20%;
    max-width: 200px;
    float: left;
    margin-bottom: 60px;
}
.sidenav { margin-bottom: 30px; }
.sidenav h3 { 
    font-weight: 600;
    padding: 10px 3% 8px;
    border-top: solid 1px #333;
    border-bottom: solid 1px #333;
    position: relative;
    margin-bottom: 5px;
}
.sidenav h3::before,.sidenav h3::after {
    content: "";
    position: absolute;
}
.sidenav h3::before {
    border-top: solid 1px #333;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
}
.sidenav h3::after {
    border-bottom: solid 1px #333;
    top: 0;
    left: 0;
    right: 0;
    bottom: -5px;
}
.sidenav h3 img {
    width: 100%;
}
.sidenav:first-child h3 img { max-width: 125px; }
.sidenav:nth-child(2) h3 img { max-width: 144px; }
.sidenav ul li a {
    display: block;
    border-bottom: dotted 1px #ccc;
    text-decoration: none;
    color: #333;
    background: url(../img/lineup/arrow-r.png) no-repeat right 7px top 13px;
    background-size: 7px auto;
    padding: 10px 0 5px 3%;
    transition: 0.3s;
}
.sidenav ul li a:hover {
    background-color: #e8e8e8;
}
.contents {
    width: 75%;
    float: right;
    margin-bottom: 60px;
}

/* ■02.lineup
--------------------------------------------------- */
.lineup .mainimg h1.title img { width: 90%; max-width: 170px; }

.item_list li {
    width: 30.6%;
    margin-right: 4%;
    float: left;
    margin-bottom: 40px;
}
.item_list li:nth-child(3n) {
    margin-right: 0;
}
.item_list li p.plan {
    color: #fff;
    overflow: hidden;
}
.item_list li p.bronze { background-color: #94816c; }
.item_list li p.silver { background-color: #8e8e8e; }
.item_list li p.gold { background-color: #9c936c; }
.item_list li p.platinum { background-color: #7db3c4; }
.item_list li p.limited { background-color: #974545; }
.item_list li p.plan span { 
    display: block;
    padding: 5px 5%;
    float: left;
}
.item_list li p.plan span.rental {
    color: #974545;
    background-color: #fff;
    border: solid 1px #974545;
    padding:  5px 3%;
    display: block; 
    float: right;
    box-sizing: border-box;
}
.item_list li a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.item_list li a:hover {
    opacity: 0.6;
    color: #999;
    text-decoration: underline;
}
.item_list li a img {
    width: 100%;
    max-width: 230px;
}
.item_list li p.name {
    margin-top: 10px;
}



/* ■03.detail
--------------------------------------------------- */
.lineup .left { width: 55%; float: left; }
.lineup .left .itemimg img  { width: 100%; }
.lineup .left .itemimg li { display: none; }
.lineup .left .itemimg li:first-child { display: block; }
.lineup .left .thumbimg li { 
	width: 31%;
	margin-top: 13px;
	margin-right: 3%;
	float: left;
	border-radius: 4px;
	transition: ease 0.3s;
}
.lineup .left .thumbimg li:nth-child(3n) { margin-right: 0; }
.lineup .left .thumbimg li img { width: 100%; }
.lineup .right { width: 40%; float: right;}
.lineup .right dl::after { content:""; display:block; clear:both; }
.lineup .right dl {
    margin-bottom: 20px;
    border-bottom: dotted 1px #ccc;
}
.lineup .right dt { 
    float: left;
    width: 40%;
    padding-left: 0.7em;
    position: relative;
    font-weight: 600;
}
.lineup .right dt::before {
    content: "";
    width: 3px;
    height: 14px;
    background-color: #977a21;
    position: absolute;
    left: 0;
    top: 4px;
}
.lineup .right dd { 
    float: right;
    width: 50%;
}
.lineup .detailbox {
    margin-bottom: 30px;
}
.lineup .contents h2 { 
    font-weight: 600;
    line-height: 1.4;
}
.lineup .detailbox h1 {
    background-color: #333;
    font-size: 120%;
    font-weight: 500;
    color: #fff;
    margin: 20px auto;
    padding: 9px 3%;
    border-radius: 3px;
}

/* ■04.company
--------------------------------------------------- */
.company .mainimg h1.title img { width: 90%; max-width: 160px; }
.guide .contents table { width: 100%; margin-bottom: 50px; }
.guide .contents table tr{
    border-bottom: dotted 1px #ccc;
}
.guide .contents table tr:last-child { border-bottom: none; }
.guide .contents table th {
    width: 25%;
    padding: 15px 3%;
    text-align: left;
    background-color: #f8f8f8;
}
.guide .contents table td {
    padding: 15px 3%;
}

/* ■05.policy
--------------------------------------------------- */
.policy .mainimg h1.title img { width: 90%; max-width: 380px; }

.guide .contents h2 {
    font-size: 127%;
    font-weight: 600;
    margin: 50px auto 10px;
    padding: 0 0 5px 1em;
    border-bottom: dotted 1px #bbb;
    line-height: 1.5;
    position: relative;
}
.guide .contents h2::before {
    content: "";
    width: 5px;
    height: 18px;
    background-color: #977a21;
    position: absolute;
    left: 0;
    top: 2px;
}
.guide .contents h3 {
    font-size: 117%;
    font-weight: 600;
    padding: 0 0 5px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.guide .contents p.txt {
    margin-bottom: 30px;
}
.guide .contents ul {
    margin-bottom: 50px;
}
.guide .contents ul.list_circ {
    padding: 30px 0;
    border-top: dotted 1px #ccc;
    border-bottom: dotted 1px #ccc;
    margin-bottom: 40px;
}
.guide .contents ul.list_disc li {
    padding-left: 1.5em;
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
}
.guide .contents ul.list_disc li::after {
    content: "■";
    color: #977a21;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 0;
}
.guide .contents ul.list_circ li {
    padding-left: 2em;
    position: relative;
    margin-bottom: 8px;
}
.guide .contents ul.list_disc li:last-child,
.guide .contents ul.list_circ li:last-child { margin-bottom: 0; }
.guide .contents ul.list_circ li::after {
    content: "・";
    color: #977a21;
    font-size: 35px;
    position: absolute;
    left: -5px;
    top: -20px;
}
.guide .contents .border_b {
    padding-bottom: 30px;
    border-bottom: solid 1px #ccc;
}
.policy .contents h2 {
    background-color: #333;
    border-bottom: none;
    border-radius: 5px;
    padding: 10px 3%;
    color: #fff;
    margin-bottom: 30px;
}
.policy .contents h2::before { display: none; }

/* ■05.notation
--------------------------------------------------- */
.notation .mainimg h1.title img { width: 90%; max-width: 433px; }


/* ■06.plan
--------------------------------------------------- */
.planint .mainimg h1.title img { width: 90%; max-width: 127px; }
.planint .acbox { margin-bottom: 50px; }
.planint .acbox .name { 
    max-width: 750px;
    position: relative;
    transition: .3s;
    overflow: hidden;
}
.planint .acbox .hidden { display: none; }
.planint .acbox .name:hover {
    opacity: 0.8;
}
.planint .acbox .name::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 24px;
    background: url(../img/plan/more.png) no-repeat;
    background-size: contain;
    left: 0;
    right: 0;
    top: auto;
    bottom: 15px;
    margin: auto;
}
.planint .acbox .name.active::after {
    background: url(../img/plan/close.png) no-repeat;
    background-size: contain;
}
.planint .acbox .name .plan { 
    float: left;
    width: 40%;
    padding: 65px 0 65px 65px;
}
.planint .acbox .name .price {
    float: left;
    width: 50%;
    font-size: 25px;
    line-height: 1;
    font-family: serif;
    font-weight: 600;
    color: #fff;
    padding: 67px 0 0;
    text-align: center;
}
.planint .acbox .name .price p {
    margin-bottom: 0;
}
.planint .bro .name { 
    background: url(../img/plan/bg_br.png) no-repeat right center;
    background-size: cover;
}
.planint .sil .name { 
    background: url(../img/plan/bg_si.png) no-repeat right center;
    background-size: cover;
}
.planint .gol .name { 
    background: url(../img/plan/bg_go.png) no-repeat right center;
    background-size: cover;
}
.planint .pla .name { 
    background: url(../img/plan/bg_pl.png) no-repeat right center;
    background-size: cover;
}
.planint .lim .name { 
    background: url(../img/plan/bg_li.png) no-repeat right center;
    background-size: cover;
}
.planint .acbox .name img { 
}
.planint .bro .name img { 
    max-width: 210px;
}
.planint .sil .name img { 
    max-width: 192px;
}
.planint .gol .name img { 
    max-width: 176px;
}
.planint .pla .name img { 
    max-width: 250px;
}
.planint .lim .name img { 
    max-width: 222px;
}
.planint .hidden {
    padding: 30px;
    border: solid 1px #000;
    border-top: none;
    box-sizing: border-box;
}
.planint .acbox p { margin-bottom: 30px; }
.planint .acbox .left { float: left; width: 30%; }
.planint .acbox .left img { width: 100%;  max-width: 190px; }
.planint .acbox .right { float: right; width: 68%; }
.planint .btn { 
    margin-top: 30px; 
    float: left; 
    width: 100%;
    text-align: center;
}
.planint .btn a, .lineup .btn a {
    width: 90%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: auto;
    max-width: 320px; 
    padding: 13px 0;
    text-align: center;
    transition: .3s;
}
.lineup .btn a {
    text-align: center;
    margin-top: 25px;
}
.planint .btn a:hover, .lineup .btn a:hover {
    background-color: #666;
}


/* ■07.scene
--------------------------------------------------- */
.scene .mainimg h1.title img { max-width: 140px; }
.scene .list li {
    width: 48.7%;
    margin-right: 2.5%;
    float: left;
    margin-bottom: 50px;
}
.scene .list li:nth-child(2n) {
    margin-right: 0;
}
.scene .list li div { margin-bottom: 20px; }
.scene .list li img { width: 100%; }



/* ■08.contract
--------------------------------------------------- */
.contract .mainimg h1.title img { width: 90%; max-width: 180px; }


.contract .contents h2 {
	margin: 50px auto 30px;
}

.contract .contents h2:first-child {
	margin: 0px auto 30px;
}

.contract ul.list_space  li {
    padding-left: 2em;
    margin: 10px 0 10px;
}

.contract .list_space2 {
    margin-bottom: 20px;
	padding-left: 3em;
}

.contract .contents ul {
	margin: 0;
}

.contract .contents ul.list_normal {
	margin-bottom: 50px;
}


.contract .contents ul.list_normal > li {
    margin: 20px 0;
}

.contract .contents ul.list_circ2 {
    padding: 0 0 20px;
	margin-bottom: 0px;
}

.contract .contents ul.list_circ2 li {
    padding-left: 2em;
    position: relative;
    margin-bottom: 8px;
}
.contract .contents ul.list_circ2 li:last-child { margin-bottom: 0; }
.contract .contents ul.list_circ2 li::after {
    content: "・";
    color: #977a21;
    font-size: 35px;
    position: absolute;
    left: -5px;
    top: -20px;
}

.contract .p_red {
	color: #ff0000;
}


/* ■09.gallery 
--------------------------------------------------- */
.gallery .mainimg h1.title img { max-width: 180px; }
.gallery .contents { position: relative; }
#gallery li img { width: 100%; }
.custom-thumb { margin: 30px auto; }
.custom-thumb a { 
    width: 19%; 
    float: left; 
    margin-right: 1.25%; 
    margin-bottom: 10px; 
    border-bottom: solid 3px #e1e1e1;
}
.custom-thumb a:nth-child(5n) { margin-right: 0; }
.custom-thumb img { width: 100%; }
.custom-thumb a.active { border-bottom: solid 3px #c29405; }
.feed-prev-btn {
    z-index: 5;
    position: absolute;
    background-image: url(../img/gallery/gallery-l.png);
    left: 2%;
    top: 15%;
}
.feed-next-btn{
    z-index: 5;
    position: absolute;
    background-image: url(../img/gallery/gallery-r.png);
    right: 2%;
    top: 15%;
}
.feed-prev-btn:hover {
  opacity: 0.7;
}
.feed-next-btn:hover{
  opacity: 0.7;
}
.feed-prev-btn .bx-prev {
  opacity: 0;
  display: block;
}
.feed-next-btn .bx-next {
  opacity: 0;
  display: block;
}
.navi-btn {
  margin: 79px 8px 0 9px;
  width: 16px;
  height: 29px;
  -webkit-background-size: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}
.gallery .btn { 
    float: left; 
    width: 48.7%;
    margin-right: 2.6%;
    text-align: center;
}
.gallery .btn:nth-child(2n) { margin-right: 0; }
.gallery .btn a { 
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    margin: auto;
    max-width: 365px; 
    padding: 13px 0;
    text-align: center;
    transition: .3s;
}
.gallery .btn a:hover {
    background-color: #666;
}

/* ■10.Q&A 
--------------------------------------------------- */

.qa .mainimg h1.title img {
    width: 90%;
    max-width: 330px;
}

.qa .contents h2 {
	font-size: 127%;
	font-weight: 600;
	margin: 0 0 20px;
	padding: 0 0 5px 1em;
	line-height: 1.5;
	position: relative;
	border-bottom: none;
}
.qa .question {
	cursor: pointer;
	padding: 20px 60px 20px 20px;
	font-size: 13px;
	background-color: #f8f8f8;
	border-bottom: 1px dotted #bbb;
	position: relative;
	background-image: url(../img/lineup/arrow-d.png);
	background-repeat: no-repeat;
	background-position: right 2em center;
	background-size: 24px;
}
.qa .question.active {
	background-image: url(../img/lineup/arrow-u.png);
}
.qa .question img {
	max-width: 120px;
	float: left;
}
.qa .question p {
	display: inline-block;
	float: right;
	width: 67%;
}
.qa .answer {
	padding: 20px 20px 20px 20px;
	font-size: 13px;
	display: none;
}
.qa .answer img {
	max-width: 120px;
	float: left;
	margin-top: 7px;
}
.qa .answer p {
	display: inline-block;
	float: right;
	width: 70%;
}

/* ■11.concept
--------------------------------------------------- */
.concept .mainimg h1.title img {
    width: 90%;
max-width: 200px;
}
.concept .concept_img {
    max-width: 750px;
}

.concept .concept_img img {
    width: 100%;
}


/* ■13.mypage
--------------------------------------------------- */
.mypage .confirm1__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.mypage .confirm1__list dt:nth-of-type(n+2),
.mypage .confirm1__list dd:nth-of-type(n+2) {
    margin-top: 10px;
}
.mypage .confirm1__list dt {
    width: 200px;
}
.mypage .confirm1__list dd {
    width: calc(100% - 200px);
}
.mypage .confirm1__name input {
    width: 300px;
}
.mypage .confirm1__tel,
.mypage .confirm1__address1 {
    display: flex;
}
.mypage .confirm1__tel input,
.mypage .confirm1__address1 input {
    display: block;
    width: 60px;
}
.mypage .confirm1__birthday input {
    width: auto;
}
.mypage .confirm1__file input,
.mypage .confirm1__file img {
    display: block;
}
.mypage .confirm1__file img {
    margin-top: 10px;
}
.mypage .confirm1__btn {
    display: block;
    margin: 0 auto;
}
.mypage .confirm2__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.mypage .confirm2__list dt {
    width: 30%;
}
.mypage .confirm2__list dd {
    width: 70%;
}
.mypage .confirm2__list dt:nth-of-type(n+2),
.mypage .confirm2__list dd:nth-of-type(n+2) {
    margin-top: 10px;
}

/* ■14.order
--------------------------------------------------- */
.order .order__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.order .order__list dt {
    width: 200px;
}
.order .order__list dd {
    width: calc(100% - 200px);
}
.order .order__list dt:nth-of-type(n+2),
.order .order__list dd:nth-of-type(n+2) {
    margin-top: 10px;
}
.order .order__address {
    margin-top: 0 !important;
    width: 100% !important;
}
.order .order__address dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.order .order__address dt {
    box-sizing: border-box;
    width: 200px;
    margin-top: 5px !important;
    padding-left: 20px;
}
.order .order__address dd {
    width: calc(100% - 200px);
    margin-top: 5px !important;
}
.order .order__attention li {
    padding-left: 1em;
    text-indent: -1em;
}
.order .order__attention li::before {
    content: "※";
}


/* ■02.横幅1000px以上（PC用）スクロールバー対策で+20pxを指定する
--------------------------------------------------- */
@media screen and (min-width:1020px) {
	/* ▼PC用================================================================== */
	
    /* ■10.Q&A
    --------------------------------------------------- */
.qa .question p {
	width: 70%;
}	
	.qa .answer p {
	width: 72%;
}	

	
	
	
/* ▲PC用================================================================== */
}


/* ■03.横幅768px以上、1299px以下（Tab用）スクロールバー対策で+20pxを指定する
--------------------------------------------------- */
@media screen and (min-width:768px) and (max-width:1020px) {
/* ▼Tab用================================================================= */
	

    .lineup .left { width: 40%; float: left; }
    .lineup .right { width: 55%; float: right; }
    
    
    /* ■04.plan
    --------------------------------------------------- */
	.planint .acbox .name .plan {
        width: 49%;
        padding: 65px 0 65px 30px;
    }
    .planint .acbox .name .price { width: 45%; }
    
/* ▲Tab用================================================================= */
}

/* ■04.横幅767px以下（SP用）
--------------------------------------------------- */
@media screen and (min-width:0px) and (max-width:767px) {
/* ▼SP用================================================================ */
	/* ■00.共通
    --------------------------------------------------- */
    .side { display: none; }
    .contents {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .mainimg { min-height: 180px; }
    .mainimg h1.title {
        left: 0;
        right: 0;
        text-align: center;
    }
    /* ■02.lineup
    --------------------------------------------------- */
    .item_list li,.item_list li:nth-child(3n) {
        width: 48%;
        margin-right: 4%;
        float: left;
        margin-bottom: 20px;
    }
    .item_list li:nth-child(2n) {
        margin-right: 0;
    }
    .item_list li a img { max-width: none; }
    .item_list li p.plan span.rental { font-size: 11px; }
    
    
    
    /* ■02.lineup
    --------------------------------------------------- */
    .lineup .contents .left {
        width: 100%;
        float: none;
        margin-bottom: 30px;
    }
    .lineup .contents .right {
        width: 100%;
        float: none;
        margin-bottom: 60px;
    }
    
    
    /* ■06.plan
    --------------------------------------------------- */
    .planint .acbox .name { padding: 50px 0; }
    .planint .acbox .name .plan {
        float: none;
        width: 100%;
        padding: 0; 
        text-align: center;
    }
    .planint .acbox .name .price {
        float: none;
        width: 100%;
        font-size: 25px;
        padding: 20px 0 0;
        text-align: center;
    }
    .planint .acbox .left {
        float: none;
        width: 100%;
        text-align: center;
    }
    .planint .acbox .left img { width: 100%; max-width: none; }
    .planint .acbox .right {
        float: none;
        width: 100%;
        margin-top: 30px;
    }
    .planint .btn { 
        margin-top: 20px;
        float: none;
        width: 100%;
        text-align: center;
    }
    .planint .btn a { width: 100%; }
    
    /* ■07.scene
    --------------------------------------------------- */
    .scene .list li {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 30px;
    }
    .scene .list li:nth-child(2n) {
        margin-right: 0;
    }
    .scene .list li div { margin-bottom: 10px; }
    
    /* ■07.scene
    --------------------------------------------------- */
    .scene .list li {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 30px;
    }
    .scene .list li:nth-child(2n) {
        margin-right: 0;
    }
    .scene .list li div { margin-bottom: 10px; }
    
    /* ■09.gallery
    --------------------------------------------------- */
    .custom-thumb a,.custom-thumb a:nth-child(5n) { 
        width: 31.3%; 
        margin-right: 3%; 
    }
    .custom-thumb a:nth-child(3n) { margin-right: 0; }
    .feed-prev-btn {
        left: 2%;
        top: -3%;
    }
    .feed-next-btn{
        right: 2%;
        top: -3%;
    }
    .gallery .btn { margin-bottom: 30px; }
    
/* ■10.Q&A
    --------------------------------------------------- */
.qa .question img {
	float: left;
	margin-bottom: 10px;
	margin-right: 10%;
}
.qa .question p {
	display: block;
	float: left;
	width: 100%;
}
.qa .answer img {
	float: left;
	margin-bottom: 10px;
}
.qa .answer p {
	display: block;
	float: left;
	width: 100%;
}
	/* ▲SP用================================================================ */
}
